@import '~antd/dist/antd.css';

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    font-size: 3em;
    color: white;
    margin: 0;
  
}
p{
    margin: 0;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
    /* display: flex; */
    margin-top: 1em;
    padding: 0.5em;
    text-align: center;
}
.card{
    transform: perspective(1500px)  rotateY( 45deg );
    backface-visibility: hidden;
}

.paper {
    background-color: #fff;
    /* Need position to allow stacking of pseudo-elements */
    position: relative;
    /* Padding for demo purposes */
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 300px;
    margin-left: 150px;
    margin-top: 30px;
    padding-left: 0px;

  }
  
  .paper,
  .paper::before,
  .paper::after {
    /* Add shadow to distinguish sheets from one another */
    box-shadow: -4px -2px 1px rgba(0,0,0,0.15);
    background-image: url(./images/0/00754.png);
  }
  
  .paper::before,
  .paper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eee;
  }
  
  /* Second sheet of paper */
  .paper::before {
    left: -12px;
    top: -10px;
    z-index: -1;
  }
  
  /* Third sheet of paper */
  .paper::after {
    left: -24px;
    top: -20px;
    z-index: -2;
  }



.paper2 {
    background-color: #fff;
    /* Need position to allow stacking of pseudo-elements */
    position: relative;
    /* Padding for demo purposes */
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 300px;
    margin-left: 150px;
    margin-top: 30px;
    padding-left: 0px;

  }
  
  .paper2,
  .paper2::before,
  .paper2::after {
    /* Add shadow to distinguish sheets from one another */
    box-shadow: -4px -2px 1px rgba(0,0,0,0.15);
    background-image: url(./images/1/00754.png);
  }
  
  .paper2::before,
  .paper2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eee;
  }
  
  /* Second sheet of paper2 */
  .paper2::before {
    left: -12px;
    top: -10px;
    z-index: -1;
  }
  
  /* Third sheet of paper2 */
  .paper2::after {
    left: -24px;
    top: -20px;
    z-index: -2;
  }